<button class="btn btn-info" *ngIf="!theme" (click)="newTheme()">Create</button>
<div *ngIf="theme">
    <label>Name</label>
    <input type="text" [(ngModel)]="theme.name">
    <label>Affiliate</label>
    <input type="number" [(ngModel)]="theme.affiliateId">
    <button class="btn btn-info">Save</button>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Affiliate</th>
        <th>Last Update</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let theme of themes" data-id="{{ theme.id }}">
            <td>{{ theme.name }}</td>
            <td>{{ theme.affiliateId }}</td>
            <td>{{ theme.lastUpdate }}</td>
            <td>{{ theme.status }}</td>
            <td>
                <button class="btn btn-info"><a routerLink="/theme/{{theme.id}}" class="text-light">Edit</a></button>
                <button class="btn btn-danger">Update</button>
            </td>
        </tr>
    </tbody>
</table>