<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Last Updates</h1>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>AffiliateId</th>
                        <th>ThemeName</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngFor="let update of updates">
                        <tr (click)="selection = update.id">
                            <td>{{ update.affiliateId }}</td>
                            <td>{{ update.themeName }}</td>
                            <td>{{ update.date }}</td>
                            <td *ngIf="update.status === 1"><span class="btn btn-success">Approved</span></td>
                            <td *ngIf="update.status === -1"><span class="btn btn-success">Declined</span></td>
                            <td *ngIf="update.status === 0">
                                <span class="btn btn-success mr-1" (click)="approve(update.id)">Approve</span>
                                <span class="btn btn-danger mr-1" (click)="decline(update.id)">Decline</span>
                            </td>
                            <td>{{ update.type }}</td>
                            <td>
                                <button class="btn btn-info mr-1" (click)="preview(update.id)">Preview</button>
                                <button class="btn btn-warning mr-1" (click)="exportUpdate(update.id)">Export</button>
                            </td>
                        </tr>
                        <tr *ngIf="selection === update.id">
                            <td colspan="5">
                                Exports:
                                <table class="table">
                                    <tr *ngFor="let export of update.exports">
                                       <td>Date</td>
                                        <td>Env</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>