<div class="presets container-fluid">
    <div class="row">
        <div class="col">
            <h1>Presets</h1>
        </div>
    </div>


    <div class="row">
        <div class="col col-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between"
                    *ngFor="let preset of presets"
                    (click)="clickPreset(preset.id)"
                >
                    <span>{{ preset.name }}</span>
                    <span class="icon-cancel-circle text-danger" (click)="removePreset(preset.id)"></span>
                </li>
            </ul>
            <button class="btn btn-block btn-info" (click)="newPreset()">New</button>
        </div>
        <div class="col col-9">
            <div *ngIf="preset">
                <app-preset [preset]="preset"></app-preset>
                <button class="btn btn-info" (click)="savePreset()">Save</button>
            </div>
        </div>
    </div>
</div>